@model List<DoAnCoSo.DTOs.DonDatHang>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section css{
	<link href="~/Admin/css/NotificationModal.css" rel="stylesheet" />
}

<div class="row">
	<div class="col-sm-12">
		<table class="data-table table stripe hover nowrap dataTable no-footer dtr-inline" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
			<thead>
				<tr role="row">
				<th class="table-plus datatable-nosort" rowspan="1" colspan="1" aria-label="STT">STT</th>
				<th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1">Khách hàng</th>
				<th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1">Tổng tiền</th>
				<th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1">Ngày đặt</th>
				<th class="datatable-nosort sorting_disabled" rowspan="1" colspan="1" aria-label="Action" style="">Action</th></tr>
			</thead>
			<tbody>
				@for (var i = 0; i < Model.Count; i++)
				{
					var item = Model.ElementAt(i);
					var stt = i + 1;
					<tr role="row" class="odd">
						<td>@stt</td>
						<td class="table-plus sorting_1" tabindex="0">@item.HoTen</td>
						<td>@item.TongTienHoaDon.ToString("#,###đ")</td>
						<td>@item.NgayDat</td>
						<td style="">
							<div class="dropdown">
								<a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
									<i class="dw dw-more"></i>
								</a>
								<div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
									<a class="dropdown-item" href="#"><i class="dw dw-eye"></i> Xem</a>
									<a class="dropdown-item" href="#"><i class="dw dw-edit2"></i> Sửa</a>
									<a class="dropdown-item" href="#"><i class="dw dw-delete-3"></i> Xóa</a>
								</div>
							</div>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>

<div class="notification-modal d-none">
	Không có dữ liệu
</div>

@section js{
	<script src="~/Admin/js/DonDatHang/donDatHang.js"></script>
}