
@{
	ViewData["Title"] = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section css{ 
	<link href="~/Admin/css/NotificationModal.css" rel="stylesheet" />
}

<div class="card-box pb-10">
	<div class="h5 pd-20 mb-0 d-flex justify-content-between">
		<span>Danh sách sản phẩm</span>
		<a class="btn btn-success" asp-action="ThemSanPham" asp-controller="SanPham" asp-area="Admin">Thêm mới</a>
	</div>
	<table class="data-table table nowrap">
		<thead>
			<tr>
				<th>STT</th>
				<th class="table-plus">Ảnh</th>
				<th>Tên sản phẩm</th>
				<th class="datatable-nosort">Số lượng tồn kho</th>
				<th class="datatable-nosort">Giá gốc</th>
			</tr>
		</thead>
		<tbody class="tbody">
		</tbody>
	</table>
</div>

<div class="notification-modal d-none mt-2">
	Không có dữ liệu
</div>

@section js{ 
	<script src="~/Admin/js/SanPham/SanPham.js"></script>
}