@{
	ViewData["Title"] = "Home";
	Layout = "~/Views/Shared/_Layout.cshtml";
	var Conf = new SystemConfiguration();
}

@section css{
	<link href="~/User/css/home/index.css" rel="stylesheet" />
}

<section class="awe-section-1">
	<div class="container section_slider">
		<div class="row">
			<div class="col-xl-3 col-lg-3 evo-width-cate d-lg-block d-none">
				@*DanhMucViewComponent*@
				<vc:danh-muc></vc:danh-muc>
			</div>
			<div class="col-xl-6 col-lg-9 home-sliders">
				<div class="evo-home-slider">
					<div class="home-slider swiper-container gallery-top">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<a href="#" class="clearfix" title="Vsmart Live 4 Chỉ còn 4.29 triệu">
									<picture>
										<source media="(min-width: 1200px)" srcset="//bizweb.dktcdn.net/100/415/483/themes/804267/assets/slider_2.jpg?1613655523892">
										<source media="(min-width: 992px)" srcset="//bizweb.dktcdn.net/100/415/483/themes/804267/assets/slider_2.jpg?1613655523892">
										<source media="(min-width: 569px)" srcset="//bizweb.dktcdn.net/100/415/483/themes/804267/assets/slider_2.jpg?1613655523892">
										<source media="(max-width: 480px)" srcset="//bizweb.dktcdn.net/thumb/large/100/415/483/themes/804267/assets/slider_2.jpg?1613655523892">
										<img src="//bizweb.dktcdn.net/thumb/grande/100/415/483/themes/804267/assets/slider_2.jpg?1613655523892" alt="Vsmart Live 4 Ch&#7881; còn 4.29 tri&#7879;u" class="img-responsive center-block" />
									</picture>
								</a>
							</div>
							<div class="swiper-slide">
								<a href="#" class="clearfix" title="Galaxy S21 Series Quà Cực Hot">
									<picture>
										<source media="(min-width: 1200px)" srcset="//bizweb.dktcdn.net/100/415/483/themes/804267/assets/slider_3.jpg?1613655523892">
										<source media="(min-width: 992px)" srcset="//bizweb.dktcdn.net/100/415/483/themes/804267/assets/slider_3.jpg?1613655523892">
										<source media="(min-width: 569px)" srcset="//bizweb.dktcdn.net/100/415/483/themes/804267/assets/slider_3.jpg?1613655523892">
										<source media="(max-width: 480px)" srcset="//bizweb.dktcdn.net/thumb/large/100/415/483/themes/804267/assets/slider_3.jpg?1613655523892">
										<img src="//bizweb.dktcdn.net/thumb/grande/100/415/483/themes/804267/assets/slider_3.jpg?1613655523892" alt="Galaxy S21 Series Quà C&#7921;c Hot" class="img-responsive center-block" />
									</picture>
								</a>
							</div>
							<div class="swiper-slide">
								<a href="#" class="clearfix" title="Vivo xuân sale Trợ giá 1.5 triệu">
									<picture>
										<source media="(min-width: 1200px)" srcset="//bizweb.dktcdn.net/100/415/483/themes/804267/assets/slider_5.jpg?1613655523892">
										<source media="(min-width: 992px)" srcset="//bizweb.dktcdn.net/100/415/483/themes/804267/assets/slider_5.jpg?1613655523892">
										<source media="(min-width: 569px)" srcset="//bizweb.dktcdn.net/100/415/483/themes/804267/assets/slider_5.jpg?1613655523892">
										<source media="(max-width: 480px)" srcset="//bizweb.dktcdn.net/thumb/large/100/415/483/themes/804267/assets/slider_5.jpg?1613655523892">
										<img src="//bizweb.dktcdn.net/thumb/grande/100/415/483/themes/804267/assets/slider_5.jpg?1613655523892" alt="Vivo xuân sale Tr&#7907; giá 1.5 tri&#7879;u" class="img-responsive center-block" />
									</picture>
								</a>
							</div>
						</div>
					</div>
					<div class="swiper-container gallery-thumbs hidden-mobile">
						<div class="swiper-wrapper">
							<div class="swiper-slide">Vsmart Live 4<br> Chỉ còn 4.29 triệu</div>
							<div class="swiper-slide">Galaxy S21 Series<br> Quà Cực Hot</div>
							<div class="swiper-slide">Vivo xuân sale<br> Trợ giá 1.5 triệu</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-12 evo-width-news">
				<a href="#" title="Evo Mobile">
					<picture>
						<source media="(min-width: 1200px)" srcset="//bizweb.dktcdn.net/thumb/large/100/415/483/themes/804267/assets/slider_6.jpg?1613655523892">
						<source media="(min-width: 992px)" srcset="//bizweb.dktcdn.net/100/415/483/themes/804267/assets/slider_6.jpg?1613655523892">
						<source media="(min-width: 569px)" srcset="//bizweb.dktcdn.net/100/415/483/themes/804267/assets/slider_6.jpg?1613655523892">
						<source media="(max-width: 480px)" srcset="//bizweb.dktcdn.net/thumb/large/100/415/483/themes/804267/assets/slider_6.jpg?1613655523892">
						<img class="lazy" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="//bizweb.dktcdn.net/100/415/483/themes/804267/assets/slider_6.jpg?1613655523892"
							 alt="Evo Mobile" />
					</picture>
				</a>
				<a href="#" title="Evo Mobile">
					<picture>
						<source media="(min-width: 1200px)" srcset="//bizweb.dktcdn.net/thumb/large/100/415/483/themes/804267/assets/slider_7.jpg?1613655523892">
						<source media="(min-width: 992px)" srcset="//bizweb.dktcdn.net/100/415/483/themes/804267/assets/slider_7.jpg?1613655523892">
						<source media="(min-width: 569px)" srcset="//bizweb.dktcdn.net/100/415/483/themes/804267/assets/slider_7.jpg?1613655523892">
						<source media="(max-width: 480px)" srcset="//bizweb.dktcdn.net/thumb/large/100/415/483/themes/804267/assets/slider_7.jpg?1613655523892">
						<img class="lazy" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="//bizweb.dktcdn.net/100/415/483/themes/804267/assets/slider_7.jpg?1613655523892"
							 alt="Evo Mobile" />
					</picture>
				</a>
				<a href="#" title="Evo Mobile">
					<picture>
						<source media="(min-width: 1200px)" srcset="//bizweb.dktcdn.net/thumb/large/100/415/483/themes/804267/assets/slider_8.jpg?1613655523892">
						<source media="(min-width: 992px)" srcset="//bizweb.dktcdn.net/100/415/483/themes/804267/assets/slider_8.jpg?1613655523892">
						<source media="(min-width: 569px)" srcset="//bizweb.dktcdn.net/100/415/483/themes/804267/assets/slider_8.jpg?1613655523892">
						<source media="(max-width: 480px)" srcset="//bizweb.dktcdn.net/thumb/large/100/415/483/themes/804267/assets/slider_8.jpg?1613655523892">
						<img class="lazy" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="//bizweb.dktcdn.net/100/415/483/themes/804267/assets/slider_8.jpg?1613655523892"
							 alt="Evo Mobile" />
					</picture>
				</a>
			</div>
		</div>
	</div>
	<script>
		var menu_limit = "8";
		if (isNaN(menu_limit)) {
			menu_limit = 10;
		} else {
			menu_limit = 7;
		}
		var sidebar_length = $('.menu-item-count').length;
		if (sidebar_length > (menu_limit + 1)) {
			$('.evo-width-cate > ul').each(function () {
				$('.menu-item-count', this).eq(menu_limit).nextAll().hide().addClass('toggleable');
				$(this).append('<li class="more"><a title="Xem thêm...">Xem thêm...</a></li>');
			});
			$('.evo-width-cate > ul').on('click', '.more', function () {
				if ($(this).hasClass('less')) {
					$(this).html('<a title="Xem thêm...">Xem thêm...</a>').removeClass('less');
				} else {
					$(this).html('<a title="Thu gọn...">Thu gọn...</a>').addClass('less');;
				}
				$(this).siblings('li.toggleable').slideToggle({
					complete: function () {
						var divHeight = $('.evo-main-cate').height();
					}
				});
			});
		}
	</script>
</section>

@*DanhMucSection*@
<vc:hang-san-xuat-count-section></vc:hang-san-xuat-count-section>

@*SanPhamBanChayNhatViewComponent*@
<vc:san-pham-ban-chay-nhat></vc:san-pham-ban-chay-nhat>

<section class="awe-section-5">
	<div class="section_banner container section_banner_2">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-12 fix-banner">
				<a href="/collections/all" title="Evo Mobile">
					<img class="lazy mx-auto d-block" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="//bizweb.dktcdn.net/100/415/483/themes/804267/assets/feature_banner_1.jpg?1613655523892"
						 alt="Evo Mobile" />
				</a>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-12 fix-banner">
				<a href="/collections/all" title="Evo Mobile">
					<img class="lazy mx-auto d-block" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="//bizweb.dktcdn.net/100/415/483/themes/804267/assets/feature_banner_2.jpg?1613655523892"
						 alt="Evo Mobile" />
				</a>
			</div>
		</div>
	</div>
</section>
<section class="awe-section-6">
	<div class="container evo_block-product">
		<div class="evo-block-product-big evo-block-product-big-ui">
			<div class="evo-product-new-title">
				<a class="sport-titles" href="san-pham-moi" title="Sản phẩm được yêu thích nhất"><span>Sản phẩm được yêu thích nhất</span></a>
			</div>
			<div class="evo-product-new-banner-cate row">
				<div class="col-lg-3 col-md-4">
					<a href="/collections/all" title="Evo Mobile" class="banner-new-ui">
						<img class="lazy" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="//bizweb.dktcdn.net/100/415/483/themes/804267/assets/evo_block_product_banner_2.jpg?1613655523892"
							 alt="Evo Mobile" />
					</a>
				</div>
				<div class="col-lg-9 col-md-8">
					<div class="evo-product-list-cate">
						<div class="col8 col-border">
							<a class="search-item" href="#" title="iPhone 12 Series">
								<div class="keyword-img">
									<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="//bizweb.dktcdn.net/thumb/large/100/415/483/collections/637382656397324891-ip-12-mini-dd.jpg?v=1611391921497"
										 alt="iPhone 12 Series" class="lazy img-responsive mx-auto d-block" />
								</div>
								<div class="keyword-info-title">iPhone 12 Series</div>
							</a>
						</div>
						<div class="col8 col-border">
							<a class="search-item" href="#" title="iPhone 11 Series">
								<div class="keyword-img">
									<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="//bizweb.dktcdn.net/thumb/large/100/415/483/collections/637393169370871358-ip-11-dd.jpg?v=1611669436133"
										 alt="iPhone 11 Series" class="lazy img-responsive mx-auto d-block" />
								</div>
								<div class="keyword-info-title">iPhone 11 Series</div>
							</a>
						</div>
						<div class="col8 col-border">
							<a class="search-item" href="#" title="iPhone XS | XS Max">
								<div class="keyword-img">
									<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="//bizweb.dktcdn.net/thumb/large/100/415/483/collections/637393169370716242-ip-xr-dd.jpg?v=1611669452047"
										 alt="iPhone XS | XS Max" class="lazy img-responsive mx-auto d-block" />
								</div>
								<div class="keyword-info-title">iPhone XS | XS Max</div>
							</a>
						</div>
						<div class="col8 col-border">
							<a class="search-item" href="#" title="iPhone X | XR">
								<div class="keyword-img">
									<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="//bizweb.dktcdn.net/thumb/large/100/415/483/collections/637230565234443213-ip-se-dd.jpg?v=1611670413707"
										 alt="iPhone X | XR" class="lazy img-responsive mx-auto d-block" />
								</div>
								<div class="keyword-info-title">iPhone X | XR</div>
							</a>
						</div>
						<div class="col8 col-border">
							<a class="search-item" href="#" title="iPhone 8 | 8 Plus">
								<div class="keyword-img">
									<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="//bizweb.dktcdn.net/thumb/large/100/415/483/collections/637393169370871358-ip-11-dd-a26bd5ec-b31e-444d-8021-3bd4157d9e4e.jpg?v=1611670427457"
										 alt="iPhone 8 | 8 Plus" class="lazy img-responsive mx-auto d-block" />
								</div>
								<div class="keyword-info-title">iPhone 8 | 8 Plus</div>
							</a>
						</div>
						<div class="col8 col-border">
							<a class="search-item" href="#" title="Galaxy Note">
								<div class="keyword-img">
									<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="//bizweb.dktcdn.net/thumb/large/100/415/483/collections/637148518773647407-ss-note10-lite-bac-dd.jpg?v=1611670302500"
										 alt="Galaxy Note" class="lazy img-responsive mx-auto d-block" />
								</div>
								<div class="keyword-info-title">Galaxy Note</div>
							</a>
						</div>
						<div class="col8 col-border">
							<a class="search-item" href="#" title="Galaxy S">
								<div class="keyword-img">
									<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="//bizweb.dktcdn.net/thumb/large/100/415/483/collections/637365343617730663-ss-s20-fe-navy-dd.jpg?v=1611670314440"
										 alt="Galaxy S" class="lazy img-responsive mx-auto d-block" />
								</div>
								<div class="keyword-info-title">Galaxy S</div>
							</a>
						</div>
						<div class="col8 col-border">
							<a class="search-item" href="#" title="Galaxy A">
								<div class="keyword-img">
									<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="//bizweb.dktcdn.net/thumb/large/100/415/483/collections/637311014035020378-ss-a01-core-do-dd.jpg?v=1611670326337"
										 alt="Galaxy A" class="lazy img-responsive mx-auto d-block" />
								</div>
								<div class="keyword-info-title">Galaxy A</div>
							</a>
						</div>
						<div class="col8 col-border">
							<a class="search-item" href="#" title="OPPO Reno Series">
								<div class="keyword-img">
									<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="//bizweb.dktcdn.net/thumb/large/100/415/483/collections/637341201120370331-oppo-reno4-tim-dd-st.jpg?v=1611973260593"
										 alt="OPPO Reno Series" class="lazy img-responsive mx-auto d-block" />
								</div>
								<div class="keyword-info-title">OPPO Reno Series</div>
							</a>
						</div>
						<div class="col8 col-border">
							<a class="search-item" href="#" title="OPPO A Series">
								<div class="keyword-img">
									<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="//bizweb.dktcdn.net/thumb/large/100/415/483/collections/637424982825011268-oppo-a12-dd-1.jpg?v=1611973277650"
										 alt="OPPO A Series" class="lazy img-responsive mx-auto d-block" />
								</div>
								<div class="keyword-info-title">OPPO A Series</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			@*SanPhamYeuThichNhatViewComponent*@
			<vc:san-pham-yeu-thich-nhat></vc:san-pham-yeu-thich-nhat>
		</div>
	</div>
</section>

<section class="awe-section-6">
	<div class="container evo_block-product">
		<div class="evo-block-product-big evo-block-product-big-ui">
			<div class="evo-product-new-title">
				<a class="sport-titles" href="san-pham-moi" title="Sản phẩm có nhiều lượt xem nhất"><span>Sản phẩm có nhiều lượt xem nhất</span></a>
			</div>
			@*SanPhamCoNhieuLuotXemNhatViewComponent*@
			<vc:san-pham-co-nhieu-luot-xem-nhat></vc:san-pham-co-nhieu-luot-xem-nhat>
		</div>
	</div>
</section>

<section class="awe-section-8">
	<div class="container evo_block-product section_small_product">
		<div class="evo-block-product-big">
			<div class="evo-product-title clearfix">
				<a class="sport-titles" href="#" title="Phụ kiện đi kèm"><span>Phụ kiện đi kèm</span></a>
				<vc:phu-kien-tabs></vc:phu-kien-tabs>
			</div>
			@*PhuKienViewComponent*@
			<vc:phu-kien></vc:phu-kien>
		</div>
	</div>
	<script>
		if ($(window).width() < 768) {
			$.fn.chunk = function (size) {
				var arr = [];
				for (var i = 0; i < this.length; i += size) {
					arr.push(this.slice(i, i + size));
				}
				return this.pushStack(arr, "chunk", size);
			}
			$(".evo-wrap-mb .item").chunk(2).wrap('<div class="group-acc col-12 col-sm-8"></div>');
		}
	</script>
</section>

@section js{ 
	<script src="~/User/js/home/home.js"></script>
}