
@{
	ViewData["Title"] = "SanPhamYeuThich";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="bread-crumb">
	<div class="container">
		<ul class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
			<li class="home" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
				<a itemprop="item" href="/" title="Trang chủ">
					<span itemprop="name">Trang chủ</span>
					<meta itemprop="position" content="1" />
				</a>
			</li>
			<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
				<strong itemprop="name">Sản phẩm yêu thích</strong>
				<meta itemprop="position" content="2" />
			</li>
		</ul>
	</div>
</section>
<div class="container container--wishlist padding-top-20">
	<div class="shadow-sm margin-bottom-10">
		<h1 class="text-center">Sản phẩm yêu thích</h1>
		<div class="row js-wishlist-content products-view products-view-grid" id="wish_list_pro">
			@*Data will append here*@
		</div>
	</div>
</div>

@section js{
	<script src="~/User/js/SanPhamYeuThich/SanPhamYeuThich.js"></script>
}