<!--Modal xác nhận xóa-->

<div class="modal fade" id="xac-nhan-xoa" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Xác nhận xóa</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form class="modal-body chinhsua-form" method="post" enctype="multipart/form-data">
				<div class="row">
					<div class="col-12 text-center">
						<div class="display-image-area border-0">
							<img class="image-display display-image-xoa" src="" />
						</div>
					</div>
					<div class="col-12 text-center mt-2">
						<input type="text" class="form-control m-auto font-18 display-name-xoa" style="width: 200px;" disabled />
					</div>
				</div>
			</form>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
				<button type="button" class="btn btn-primary submit-modal-xoa">Xác nhận</button>
			</div>
		</div>
	</div>
</div>